<!DOCTYPE html>
<div ng-controller="ClientRegistrationController as ctrl">
    <p>If you wish to add buses, trains or flights to our API, you can register a client with us below:</p>
	<div class="main">
		<form novalidate>
			<div>
			<label>Client Name:</label>
			<input type="text" ng-model="ctrl.name"/><br/>
			</div>
			<div>
			<label>Redirect URI:</label>
			<input type="text" ng-model="ctrl.redirectURI"/><br/>
			</div>
			<div>
			<input type="submit" ng-click="ctrl.submit()" value="Submit"/>
			</div>
		</form>
        <p ng-bind="ctrl.message"></p>
        <p ng-show="ctrl.success">Your client ID is: {{ctrl.clientID}}</p>
        <p ng-show="ctrl.success">Your client secret is: {{ctrl.clientSecret}}</p>
        <p ng-show="ctrl.success">Make sure to keep these safe!</p>
	</div>
</div>