<!DOCTYPE html>
<div ng-controller="DialogController as ctrl">
    <div class="main" ng-show="ctrl.success">
        <p>Hey {{ ctrl.user.nickname }}!</p>
        <p><b>{{ ctrl.client.name }}</b> is requesting access to your account.</p>
        <p>Do you approve?</p>

        <form novalidate>
            <input type="hidden" name="transaction_id" value="{{ctrl.transactionID}}">
            <div>
                <input type="button" value="Allow" ng-click="ctrl.allow()">
                <input type="button" value="Deny" ng-click="ctrl.deny()">
            </div>
        </form>

    </div>
    <p ng-hide="ctrl.success">Invalid Client ID and/or redirect URI.</p>
    <p ng-bind="ctrl.message"></p>
</div>